* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77b5fe 3px solid;
}

.header .logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .nav {
    float: right;
    margin-top: 10px;
}

.header .nav ul {
    list-style: none;
}

.header .nav ul li {
    display: inline;
    margin-left: 20px;
}

.header .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero-section {
    background: url('images/hero.jpeg') no-repeat  center/cover;
    height: 600px;
    color:brown;
    text-align: center;
    padding-top: 200px;
}

.hero-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero-section .btn {
    font-size: 18px;
    background:red;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.destinations-section {
    padding: 50px 0;
    background: #fff;
}

.destinations-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.destinations-section .cards {
    display: flex;
    justify-content: space-between;
}

.destinations-section .card {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    padding: 20px;
}

.destinations-section .card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tours-section {
    padding: 50px 0;
    text-align: center;
    background: #77b5fe;
    color: #fff;
}

.tours-section h2 {
    margin-bottom: 20px;
}

.tours-section p {
    margin-bottom: 40px;
}

.tours-section .btn {
    font-size: 18px;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.footer h2 {
    margin-bottom: 20px;
}

.footer .contact-form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.footer .contact-form input, 
.footer .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.footer .contact-form .btn {
    display: inline-block;
    background: #77b5fe;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
